<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04-Subclass-Basic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3294B8701D6B4D9D004322E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3294B8841D6B4D9D004322E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3294B88F1D6B4D9D004322E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
