<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>03-FristSwiftDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CFE060E1D4F9A6100015552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CFE06221D4F9A6100015552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CFE062D1D4F9A6100015552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
